$break-small: 320px;
$break-large: 900px;

#__nuxt {
  @media screen and (max-width: $break-small) {
    width: 100%;
  }
  @media screen and (min-width: $break-large) {
    width: $break-large;
    margin: auto;
  }
}

#__layout {
  padding: 1em;
}

/* nav {
  @supports (display: flex) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  @media screen and (max-width: $break-small) {
    width: 100%;
  }
  @media screen and (min-width: $break-small) {
    display: none;
  }
} */

footer {
  > a {
    width: 100%;
    @supports (display: flex) {
      width: auto;
    }
  }
  @supports (display: flex) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }
}
