$break-small: 320px;
$break-large: 900px;

/* font-family: Poppins */
@font-face {
	font-family: 'Poppins';
  src: url('~assets/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
}

/* font-family: Raleway */
@font-face {
	font-family: 'Raleway';
  src: url('~assets/fonts/Raleway/Raleway-Medium.ttf') format('truetype');
}

#__nuxt {
  @media screen and (max-width: $break-small) {
    width: 100%;
  }
  @media screen and (min-width: $break-large) {
    width: $break-large;
    margin: auto;
  }

  font-family: 'Poppins', Fallback, sans-serif;
}

#__layout {
  padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', Fallback, sans-serif;
}

.title {
  width: 275px;
  min-width: 275px;
  float: left;
}

main {
  clear: both;
}

/* nav {
  @supports (display: flex) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  @media screen and (max-width: $break-small) {
    width: 100%;
  }
  @media screen and (min-width: $break-small) {
    display: none;
  }
} */

footer {
  > a {
    width: 100%;
    @supports (display: flex) {
      width: auto;
    }
  }
  @supports (display: flex) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }
}
